@model AuthorViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!String.IsNullOrEmpty(@ViewBag.CreatedFailedMessage))
{
   <div class="alert alert-danger" style="text-align:center">@ViewBag.CreatedFailedMessage</div>
}
@if (!String.IsNullOrEmpty(@ViewBag.AddAuthorSuccessMessage))
{
    <div class="alert alert-success" style="text-align:center">@ViewBag.AddAuthorSuccessMessage</div>
}
<body>
    <div class="container">
        <h2 style="text-align: center;" class="display-4" >Page of Add Author</h2>
        <div class="row" style="text-align:center; margin-top:150px;">
            <div class="col-3"></div>
            <div class="col-md-6 col-md-offset-3 col-md-offset-3">
                <form asp-controller="Author" asp-action="Index" method="post">
                    <div class="form-group">
                        <label for="">Author</label>
                        <input type="text" class="form-control" asp-for="Name">
                    </div>
                    <input type="submit" style="margin-top: 10px;" class="btn btn-outline-primary" value="Save">  
                </form>
            </div>
        </div>
    </div>
</body>

